body {
  margin: 0;
  padding: 0;
  max-width: 1000px;
}

.header-items {
  height: 30px;
  font-size: 25px;
  padding: 0px 20px;
  font-family: "Cutive Mono", monospace;
  margin: 10px 0px;
}

.side-nav-icons {
  height: 30px;
}
.header {
  position: fixed;
  width: 100%;
  background-color: rgb(142, 173, 207);
  color: black;
  top: 0;
  z-index: 3;
}

.header1 {
  text-align: center;
  margin-top: 50px;
  font-family: "Cutive Mono", monospace;
}

.head-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.main-item-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
  /* max-width: 1000px; */
}

.optionStyle {
  border: gray 1px dotted;
  width: 200px;
  font-family: "Cutive Mono", monospace;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  z-index: 0;
}

.product-pic {
  height: 180px;
  width: auto;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidenav {
  height: 100%;
  max-height: 95vh;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(163, 160, 160, 1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Cutive Mono", monospace;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  margin-right: 20px;
}

.popup {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  z-index: 4;
}

.add {
  border: none;
  text-decoration: none;
  font-family: "Cutive Mono", monospace;
  font-size: 10px;
}

.delete {
  border: none;
  text-decoration: none;
  background: none;
  font-size: 18px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.63);
  width: 100%;
  height: 100%;
}

.money-form {
  background-color: white;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}

.cash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.63);
  width: 100%;
  height: 100%;
}

/* .receipt-div {
  background-color: white;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
} */

.hide {
  display: none;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#wiggle {
  display: inline-block;
  animation: wiggle 1s;
  animation-iteration-count: 1;
}

.fixed-footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: inline-block;
  font-family: "Cutive Mono", monospace;
  background-color: white;
  clear: both;
  z-index: 4;
}

.foot-right {
  float: right;
  display: block;
  padding: 0px 15px;
  font-size: 12px;
}

.foot-left {
  float: left;
  display: block;
  padding: 0px 15px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
